    /* breadcrumbs */
    
    .collapsed ul {
        list-style-type: none;
        margin: 0;
        padding: 2em;
        color: #333;
    }
    
    .collapsed li {
        display: inline-block;
        position: relative;
        padding-right: 2em;
        margin: 0;
    }
    
    .collapsed li:after {
        content: '>';
        position: absolute;
        display: inline-block;
        right: 0;
        width: 2em;
        text-align: center;
    }
    
    .collapsed li:last-child {
        font-weight: bold;
    }
    
    .collapsed li:last-child:after {
        content: '';
    }
    
    .collapsed a {
        text-decoration: none;
        display: inline-block;
        color: #333;
        white-space: nowrap;
    }
    
    .collapsed a:hover {
        text-decoration: underline;
        color: black;
    }
    /* END breadcrumbs */
    
    .wrap-container .gallery-box {
        flex-wrap: wrap;
    }
    
    .wrap-container .gallery-box img {
        margin: 10px;
    }
    
    @media screen and (max-width: 1199px) {
        .wrap-container .gallery-box img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    .wrap-container .container p,
    .wrap-container .container blockquote {
        text-align: center;
        font-size: 18px;
        line-height: 1.58;
    }
    
    .wrap-container .container-block,
    .wrap-container .block-container {
        display: flex;
        justify-content: space-around;
        margin: 100px auto;
    }
    
    .wrap-container .container-block p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 130px;
        text-align: center;
        font-size: 18px;
        line-height: 1.58;
    }
    
    @media screen and (max-width: 1133px) {
        .wrap-container .container-block .block {
            margin: auto 20px;
        }
        .wrap-container .container-block p {
            margin-top: auto;
        }
    }
    
    @media screen and (max-width: 766px) {
        .wrap-container .container-block {
            flex-direction: column-reverse;
        }
        .wrap-container .container-block .block {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    @media screen and (max-width: 640px) {
        .wrap-container .container-block p {
            margin: 20px auto;
            width: 90%;
        }
    }
    
    @media screen and (max-width: 544px) {
        .wrap-container .container-block .block img {
            max-width: 450px;
        }
    }
    
    @media screen and (max-width: 523px) {
        .wrap-container .gallery-box img {
            max-width: 400px;
            align-self: center;
        }
        .wrap-container .container-block .block img {
            max-width: 400px;
        }
    }
    
    .wrap-container .block-container p {
        margin-top: 130px;
    }
    
    @media screen and (max-width: 799px) {
        .wrap-container .block-container .block img {
            max-width: 400px;
        }
        .wrap-container .block-container p {
            margin-top: 90px;
        }
    }
    
    @media screen and (max-width: 646px) {
        .wrap-container .block-container .block img {
            max-width: 300px;
        }
        .wrap-container .block-container .block p {
            margin-top: 70px;
        }
    }
    
    @media screen and (max-width: 482px) {
        .wrap-container .block-container {
            flex-direction: column;
        }
        .wrap-container .block-container .block img {
            max-width: 400px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .wrap-container .block-container .block p {
            text-align: center;
            margin-bottom: 25px;
            margin-top: auto;
        }
    }
    
    .wrap-container .row-container .row .column {
        float: left;
        width: 25%;
    }
    
    .wrap-container .row-container .row .column img {
        margin-left: 5px;
    }
    
    @media screen and (max-width: 1199px) {
        .wrap-container .container .gallery-box .turtle {
            max-width: 500px;
        }
    }
    
    @media screen and (max-width: 771px) {
        .wrap-container .block img .theater {
            justify-content: none;
        }
    }
    
    @media screen and (max-width: 523px) {
        .wrap-container .container .gallery-box .turtle {
            max-width: 400px;
        }
    }
    
    @media screen and (max-width: 420px) {
        .wrap-container .gallery-box img {
            max-width: 350px;
        }
        .wrap-container .container-block .block img {
            max-width: 350px;
        }
        .wrap-container .block-container .block img {
            max-width: 350px;
        }
        .wrap-container .container .gallery-box img,
        .wrap-container .container .gallery-box .turtle {
            max-width: 350px;
        }
    }
    
    @media screen and (max-width: 367px) {
        .wrap-container .gallery-box img {
            max-width: 300px;
        }
        .wrap-container .container-block .block img {
            max-width: 300px;
        }
        .wrap-container .block-container .block img {
            max-width: 300px;
        }
        .wrap-container .container .gallery-box img,
        .wrap-container .container .gallery-box .turtle {
            max-width: 300px;
        }
    }
    
    .wrap-container .container-Krisi {
        margin: 100px auto;
    }
    
    .wrap-container .container-Krisi .gallery {
        display: flex;
        justify-content: center;
        align-self: center;
    }
    
    .wrap-container .container-Krisi .gallery img {
        margin-left: 10px;
    }
    
    .wrap-container .container-Krisi p {
        text-align: center;
        font-size: 18px;
        line-height: 1.58;
    }
    
    @media screen and (max-width: 991px) {
        .wrap-container .container-Krisi .gallery img {
            max-width: 70%;
        }
        .wrap-container .container-Krisi .gallery {
            margin-left: 20px;
        }
    }
    
    @media screen and (max-width: 937px) {
        .wrap-container .container-Krisi p {
            width: 90%;
            margin: 20px auto;
        }
    }
    
    @media screen and (max-width: 854px) {
        .wrap-container .container-Krisi .gallery {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
        .wrap-container .container-Krisi .gallery img {
            margin: 10px auto;
        }
    }
    
    @media screen and (max-width: 628px) {
        .wrap-container .container-Krisi .gallery img {
            max-width: 400px;
        }
    }
    
    @media screen and (max-width: 420px) {
        .wrap-container .container-Krisi .gallery img {
            max-width: 350px;
        }
    }
    
    @media screen and (max-width: 367px) {
        .wrap-container .container-Krisi .gallery img {
            max-width: 300px;
        }
    }
    
    .wrap-container .container-Dani {
        margin-top: 130px;
    }
    
    .wrap-container .container-Dani .gallery {
        display: flex;
    }
    
    .wrap-container .container-Dani .gallery img {
        margin: 5px;
    }
    
    .wrap-container .container-Dani p {
        text-align: center;
        font-size: 18px;
        line-height: 1.58;
    }
    
    @media screen and (max-width: 937px) {
        .wrap-container .container-Dani p {
            width: 90%;
            margin: 20px auto;
        }
    }
    
    @media screen and (max-width: 1330px) {
        .wrap-container .container-Dani .gallery {
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    @media screen and (max-width: 1037px) {
        .wrap-container .container-Dani .gallery img {
            max-width: 350px;
        }
    }
    
    @media screen and (max-width: 367px) {
        .wrap-container .container-Dani .gallery img {
            max-width: 300px;
        }
    }
    
    .wrap-container .special-day {
        margin: 100px auto;
    }
    
    .wrap-container .special-day .gallery {
        display: flex;
        justify-content: center;
        align-self: center;
    }
    
    .wrap-container .special-day .gallery img {
        margin-left: 20px;
    }
    
    .wrap-container .special-day p {
        text-align: center;
        font-size: 18px;
        line-height: 1.58;
    }
    
    @media screen and (max-width: 1258px) {
        .wrap-container .special-day .gallery {
            flex-direction: column;
        }
        .wrap-container .special-day .gallery img {
            justify-content: center;
            margin: 10px 250px;
        }
    }
    
    @media screen and (max-width: 1135px) {
        .wrap-container .special-day .gallery img {
            margin: 10px 240px;
        }
    }
    
    @media screen and (max-width: 1023px) {
        .wrap-container .special-day .gallery img {
            margin: 10px 200px;
        }
    }
    
    @media screen and (max-width: 932px) {
        .wrap-container .special-day .gallery img {
            margin: 10px 150px;
        }
    }
    
    @media screen and (max-width: 828px) {
        .wrap-container .special-day .gallery img {
            margin: 10px auto;
        }
    }
    
    @media screen and (max-width: 719px) {
        .wrap-container .special-day .gallery img {
            max-width: 500px;
        }
    }
    
    @media screen and (max-width: 523px) {
        .wrap-container .special-day .gallery img {
            max-width: 400px;
        }
    }
    
    @media screen and (max-width: 420px) {
        .wrap-container .special-day .gallery img {
            max-width: 350px;
        }
    }
    
    @media screen and (max-width: 367px) {
        .wrap-container .special-day .gallery img {
            max-width: 300px;
        }
    }
    
    .wrap-container .container-Teiya {
        margin: 100px auto;
    }
    
    .wrap-container .container-Teiya .gallery {
        display: flex;
        justify-content: center;
        align-self: center;
    }
    
    .wrap-container .container-Teiya .gallery img {
        margin-left: 10px;
    }
    
    .wrap-container .container-Teiya p {
        text-align: center;
        font-size: 18px;
        line-height: 1.58;
    }
    
    @media screen and (max-width: 1152px) {
        .wrap-container .container-Teiya .gallery {
            flex-wrap: wrap;
        }
        .wrap-container .container-Teiya .gallery img {
            margin: 10px auto;
        }
    }
    
    @media screen and (max-width: 719px) {
        .wrap-container .container-Teiya .gallery img {
            max-width: 500px;
        }
    }
    
    @media screen and (max-width: 523px) {
        .wrap-container .container-Teiya .gallery img {
            max-width: 400px;
        }
    }
    
    @media screen and (max-width: 420px) {
        .wrap-container .container-Teiya .gallery img {
            max-width: 350px;
        }
    }
    
    @media screen and (max-width: 367px) {
        .wrap-container .container-Teiya .gallery img {
            max-width: 300px;
        }
    }
    
    .wrap-container .container-Koko blockquote {
        text-align: center;
        font-size: 18px;
        line-height: 1.58;
        width: 90%;
        margin: 20px auto;
    }
    
    .wrap-container .container-Koko .gallery-box {
        display: flex;
        justify-content: space-around;
    }
    
    @media screen and (max-width: 725px) {
        .wrap-container .container-Koko .gallery-box img {
            max-width: 300px;
        }
    }
    
    @media screen and (max-width: 640px) {
        .wrap-container .container-Koko .gallery-box {
            flex-direction: column;
        }
    }